<section class="mt-5">
  <table class="table table-md mt-2 w-full">
    <thead>
      <tr>
        <th>#</th>
        <th>Ícono</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Población</th>
      </tr>
    </thead>
    <tbody>
      @for (country of countries(); track country.cca2; let index = $index) {
        <tr class="hover">
          <td class="font-medium">{{ index + 1 }}</td>
          <td class="text-xl">{{ country.flag }}</td>
          <td>
            <img
              [src]="country.flags.svg"
              [alt]="country.name.common"
              class="w-14 h-10 object-cover rounded-md border border-base-300 shadow-sm"
            />
          </td>
          <td>{{ country.name.common }}</td>
          <td>{{ country?.capital?.[0] ?? 'Sin Capital' }}</td>
          <td>{{ country.population }}</td>
          <td class="link-primary cursor-pointer">Más Información</td>
        </tr>
      }
      <tr></tr>
    </tbody>
  </table>
</section>
